body {
  font-family: Roboto, sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.screen-sizes {
  margin: 0 auto;
  max-width: 500px;
}

.btn {
  border: none;
  border-radius: 4rem;
  display: block;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.8rem 1rem;
  background-image: linear-gradient(to right, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  background-size: 200% auto;
}
.btn:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  background-position: right center;
}

.order {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

.loading-spinner {
  height: 100vh;
  width: 100vw;
  background-color: rgb(248, 248, 248);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s ease forwards hide-animation;
}

.loading-spinner__ball {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  animation: 0.5s ease-in-out both 2 circle;
}
.loading-spinner__ball--primary {
  background-color: #9356DC;
}
.loading-spinner__ball--secondary {
  background-color: #FF79DA;
  animation-delay: 0.1s;
}
.loading-spinner__ball--tertiary {
  background-color: #99E2D0;
  animation-delay: 0.5s;
}

@keyframes hide-animation {
  0%, 99% {
    opacity: 1;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-100px);
  }
  90%, 100% {
    transform: rotate(540deg) translate(-100px);
  }
}
.menu-item {
  animation: 1.2s ease-in-out 2s both slide-in;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-part:nth-of-type(1) .menu-item:nth-of-type(2) {
  animation-delay: 2.2s;
}
.menu-part:nth-of-type(1) .menu-item:nth-of-type(3) {
  animation-delay: 3.2s;
}
.menu-part:nth-of-type(1) .menu-item:nth-of-type(4) {
  animation-delay: 4.2s;
}

.menu-part:nth-of-type(2) .menu-item:nth-of-type(2) {
  animation-delay: 5s;
}
.menu-part:nth-of-type(2) .menu-item:nth-of-type(3) {
  animation-delay: 6s;
}
.menu-part:nth-of-type(2) .menu-item:nth-of-type(4) {
  animation-delay: 7s;
}

.menu-part:nth-of-type(3) .menu-item:nth-of-type(2) {
  animation-delay: 8s;
}
.menu-part:nth-of-type(3) .menu-item:nth-of-type(3) {
  animation-delay: 9s;
}
.menu-part:nth-of-type(3) .menu-item:nth-of-type(4) {
  animation-delay: 10s;
}

footer {
  background-color: rgb(50, 50, 50);
  color: white;
}

.footer-layout {
  padding: 1.5rem 1.5rem;
  max-width: 3840px;
  margin: auto;
}
.footer-layout p {
  font-family: Shrikhand, cursive;
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem;
}
.footer-layout i {
  padding-right: 1rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  width: 250px;
  margin: 1.5rem auto 1rem;
}

.return-arrow {
  font-size: 1.3rem;
  position: absolute;
  top: 30px;
  left: 20px;
}

.return-arrow {
  font-size: 1.3rem;
  position: absolute;
  top: 30px;
  left: 20px;
}

.nav__link {
  margin: 0.5rem 0;
}
.nav__link__icon {
  margin-right: 1rem;
}
.nav__link a:hover {
  text-decoration: underline;
}

.explore {
  display: flex;
  flex-flow: column;
  background-color: rgb(248, 248, 248);
  align-items: center;
}
.explore__title {
  font-weight: bold;
  margin-top: 5%;
}
.explore__txt {
  text-align: center;
}

.order-btn {
  border: none;
  border-radius: 4rem;
  color: white;
  padding: 0.8rem 3rem;
  display: block;
  margin: auto;
}

.order-btn--primary-gradient {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
}

.order-btn:hover {
  background: linear-gradient(175deg, #ff93e1, #a16be0);
}

.location {
  display: flex;
  flex-flow: row;
  background-color: rgb(235, 235, 235);
  align-items: center;
  justify-content: center;
}
.location__search {
  background-color: rgb(235, 235, 235);
  border: none;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.how-section {
  padding: 3rem 1.5rem;
}

.how-step {
  background-color: rgb(248, 248, 248);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-step__num {
  background-color: #9356DC;
  color: white;
  font-size: 0.8rem;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
  position: absolute;
  left: -12px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-step__icon {
  position: absolute;
  color: rgb(122, 122, 122);
  transform: translateX(-7rem);
}
.how-step:hover {
  background-color: #e4d5f6;
}
.how-step:hover .how-step__icon {
  color: #9356DC;
}

.rest-section {
  padding: 3rem 1.5rem;
  width: 100%;
  background-color: rgb(248, 248, 248);
  box-sizing: border-box;
}
.rest-section h2 {
  padding-bottom: 1rem;
}

.rest-card {
  background-color: white;
  margin: 0 auto;
  border-radius: 1rem;
}
.rest-card__img {
  aspect-ratio: 2/1;
  position: relative;
}
.rest-card__img img {
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
}
.rest-card__img__new {
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 0.1rem;
  padding: 0.4rem 1.7rem;
  position: absolute;
  right: 15px;
  top: 15px;
}
.rest-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.rest-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}
.rest-card__bottom h3 {
  margin: 0 0 0.2rem;
}
.rest-card__bottom span {
  margin: 0;
}
.rest-card .heart-position {
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 40px;
}
.rest-card__heart-section {
  position: relative;
}
.rest-card__heart-section:hover .rest-card__inner-heart {
  opacity: 1;
}
.rest-card__outer-heart {
  position: absolute;
  font-size: 1.5rem;
}
.rest-card__inner-heart {
  color: #9356DC;
  position: absolute;
  z-index: 1;
  transition: all 3s ease-in-out;
  font-size: 1.5rem;
  opacity: 0;
}

.rest-main {
  background-color: rgb(248, 248, 248);
  border-radius: 2rem;
  overflow: hidden;
}

.rest-img {
  aspect-ratio: 16/10;
  position: relative;
}
.rest-img img {
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.menu {
  padding: 2rem 1.5rem;
  position: relative;
  background-color: inherit;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__title h1 {
  font-family: Shrikhand, cursive;
  font-weight: normal;
}
.menu__title i {
  font-size: 1.5rem;
}
.menu__heart-section {
  position: relative;
}
.menu__heart-section:hover .menu__inner-heart {
  opacity: 1;
  transition: all 3s ease-in-out;
}
.menu__outer-heart {
  position: absolute;
  font-size: 1.5rem;
}
.menu__inner-heart {
  color: #9356DC;
  color: linear-gradient(#9356DC, #FF79DA);
  font-size: 1.5rem;
  opacity: 0;
}

.menu-part {
  width: 100%;
  box-sizing: border-box;
  margin: 2rem 0;
}
.menu-part__title {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1.5rem;
}
.menu-part__title::after {
  content: "";
  border-top: 3px solid #99E2D0;
  width: 3rem;
  position: absolute;
}
.menu-part__title h2 {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 0.3rem;
}

.menu-item {
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.menu-item__txt {
  padding: 0.5rem;
}
.menu-item__txt h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  margin-right: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin 0.5s ease-in-out;
}
.menu-item__txt p {
  font-size: 0.9rem;
  margin: 0;
  margin-right: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin 0.5s ease-in-out;
}
.menu-item__price {
  height: 100%;
  bottom: 10px;
  right: 0;
  font-weight: bold;
  position: absolute;
  display: flex;
  align-items: end;
  margin-right: 10px;
  transition: margin 0.5s ease-in-out;
}
.menu-item__checked {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  right: -35px;
  top: 0;
  background-color: #99E2D0;
  position: absolute;
  width: 35px;
  transition: all 0.5s ease-in-out;
}
.menu-item .fa-check {
  background-color: white;
  color: #99E2D0;
  padding: 4px;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}
.menu-item:hover .menu-item__checked {
  right: 0;
}
.menu-item:hover .fa-check {
  transform: rotate(360deg);
}
.menu-item:hover .menu-item__price {
  transform: translateX(0);
}
.menu-item:hover p, .menu-item:hover h3 {
  margin-right: 65px;
}
.menu-item:hover .menu-item__price {
  margin-right: 45px;
}

.order-btn {
  border-radius: 4rem;
  padding: 6rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
