.blackgroun-img{
    background:url('./../images/restaurants/stil-u2Lp8tXIcjw-unsplash.webp') no-repeat grey 50%;
}

.screen-sizes{
    background:white;
}
.return-arrow {
    font-size: 1.3rem;
    position: absolute;
    top: 30px;
    left: 20px;
}

.nav__link {
    margin: 0.5rem 0;
        &__icon {
            margin-right: 1rem;
        }
        & a:hover {
            text-decoration: underline;
        }
}

.explore {
    display: flex;
    flex-flow: column;
    background-color:$background-lightgrey;
    align-items: center;
        &__title {
            font-weight: bold;
            margin-top: 5%;
        }
        &__txt {
            text-align: center;
        }
}



.order-btn {
    border: none;
    border-radius: 4rem;
    color: white;
    padding: 0.8rem 3rem;
    display: block;
    margin: auto;
}
.order-btn--primary-gradient {
    background: linear-gradient(175deg, #FF79DA, #9356DC);
}
.order-btn:hover {
    background: linear-gradient(175deg, #ff93e1, #a16be0);
}


.location {
    display: flex;
    flex-flow:row;
    background-color: $background-grey;
    align-items:center;
    justify-content:center;
    &__search {
        background-color: $background-grey;
        border: none;
        font-weight: bold;
        text-align:center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

.how-section {
    padding: 3rem 1.5rem;
}


.how-step {
    background-color: $background-lightgrey;
    box-shadow: 0 5px 10px 0 $box-shadow-elements-lightgrey;
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    cursor: pointer;
    // margin-left: 0.7rem;
    margin-top: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__num {
        background-color: $primary-color;
        color: white;
        font-size: 0.8rem;
        border-radius: 50%;
        padding: 0.3rem 0.6rem;
        position: absolute;
        left: -12px;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icon {
        position: absolute;
        color: rgb(122, 122, 122);
        transform: translateX(-7rem);
    }
    &:hover {
        background-color: lighten($primary-color, 30%);
    }
    &:hover .how-step__icon {
        color: $primary-color;
    }
}

.rest-section {
    padding: 3rem 1.5rem;
    width: 100%;
    background-color:$background-lightgrey;
    box-sizing: border-box;

    h2{
        padding-bottom: 1rem;
    }
    // &__layout {
    //     width: 45%;
    //     display: flex;
    //     flex-flow: column wrap;
    //     justify-content: space-between;
    // }
}

.rest-card {
    background-color: white;
    margin: 0 auto;
    border-radius: 1rem;
    // margin-bottom: 1rem;

    &__img {
        aspect-ratio: 2/1;
        position: relative;

        img {
            overflow: hidden;
            border-radius: 1rem 1rem 0 0;
            width: 100%;
            height: 100%;
            // cursor: grab;
            object-fit: cover;
            display: block;
            object-position: center;
            
            // &:hover{
            //     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            // // // overflow-clip-margin: content-box;
            // // overflow: clip;
            // // transition-duration: 10ms;
            // // transform: translate3d(0px, 20px, 0px);
            // }
        }

        &__new {
            background-color: $tertiary-color;
            color: darken($tertiary-color, 40%);
            font-size: 0.9rem;
            font-weight: bold;
            border-radius: 0.1rem;
            padding: 0.4rem 1.7rem;
            position: absolute;
            // z-index: 2;
            right: 15px;
            top: 15px;
            // transition: all 3s ease-in-out;
        }
    }
            
    &:hover{
        box-shadow: 0 4px 8px 0 $box-shadow-elements-lightgrey;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-bottom: 20px;
        // height:100%;
        position:relative;

        h3 {
            margin: 0 0 0.2rem;
        }

        span {
            margin: 0;
        }
    }

    .heart-position{
        // border: 10px solid red;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 40px; 
    }

    &__heart-section {
        position: relative;

        &:hover .rest-card__inner-heart {
            opacity: 1;
        }

    }

    &__outer-heart {
        position: absolute;
        font-size: 1.5rem;
    }

    &__inner-heart {
        color: $primary-color;
        position: absolute;
        z-index: 1;
        // color: $heart-gradient;
        transition: all 3s ease-in-out;
        // background-clip: text;
        // color: transparent;
        font-size: 1.5rem;
        opacity: 0; 
    }
}