.return-arrow {
    font-size: 1.3rem;
    position: absolute;
    top: 30px;
    left: 20px;
}

.nav__link {
    margin: 0.5rem 0;
        &__icon {
            margin-right: 1rem;
        }
        & a:hover {
            text-decoration: underline;
        }
}

.explore {
    display: flex;
    flex-flow: column;
    background-color:$background-lightgrey;
    align-items: center;
        &__title {
            font-weight: bold;
            margin-top: 5%;
        }
        &__txt {
            text-align: center;
        }
}



.order-btn {
    border: none;
    border-radius: 4rem;
    color: white;
    padding: 0.8rem 3rem;
    display: block;
    margin: auto;
}
.order-btn--primary-gradient {
    background: linear-gradient(175deg, #FF79DA, #9356DC);
}
.order-btn:hover {
    background: linear-gradient(175deg, #ff93e1, #a16be0);
}


.location {
    display: flex;
    flex-flow:row;
    background-color: $background-grey;
    align-items:center;
    justify-content:center;
    &__search {
        background-color: $background-grey;
        border: none;
        font-weight: bold;
        text-align:center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

.how-section {
    padding: 3rem 1.5rem;
}


.how-step {
    background-color: $background-lightgrey;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    cursor: pointer;
    // margin-left: 0.7rem;
    margin-top: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__num {
        background-color: $primary-color;
        color: white;
        font-size: 0.8rem;
        border-radius: 50%;
        padding: 0.3rem 0.5rem;
        position: absolute;
        left: -12px;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icon {
        position: absolute;
        color: rgb(122, 122, 122);
        transform: translateX(-7rem);
    }
    &:hover {
        background-color: lighten($primary-color, 30%);
    }
    &:hover .how-step__icon {
        color: $primary-color;
    }

}
// transision onrun ed
style attribute {
    height: auto;
    cursor: grab;
    transition-duration: 0ms;
    transform: translate3d(0px, 0px, 0px);
}

.rest-card__heart-animation {
    &__heart-full,
    &__heart-empty {
    font-size: 40px;
    position:relative;
}
    
&__heart-animation:hover &__heart-full {
    opacity: 1;
}
    
&__heart-full {
    opacity: 0;
    transition: all 3s ease-in-out;
}
}

.rest-section {
    padding: 3rem 1.5rem;
    width: 100%;
    background-color:$background-lightgrey;
    box-sizing: border-box;

    // h2 {
    //     margin-bottom: 1.5rem;
    // }

    &__layout {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

.rest-card {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    // box-shadow: $box-shadow-dark;
    overflow: hidden;

    // &:hover {
    //     box-shadow: $box-shadow-darker;
    // }

    &__img {
        height: 170px;
        position: relative;
        overflow: hidden;


        img {
            width: 110%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &__new {
            background-color: $tertiary-color;
            color: darken($tertiary-color, 40%);
            font-size: 0.9rem;
            font-weight: bold;
            padding: 0.5rem;
            position: absolute;
            z-index: 2;
            right: 10px;
            top: 10px;
        }


    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        h3 {
            margin: 0 0 0.2rem;
        }

        span {
            margin: 0;
        }


    }

    &__heart-section {
        position: relative;

        &:hover .rest-card__inner-heart {
            transform: scale(1);
            transition: all 0.5s cubic-bezier(0, 3, 1, .76);
        }
    }

    &__outer-heart {
        font-size: 1.5rem;
    }

    &__inner-heart {
        background: $primary-color;
        background-clip: text;
        color: transparent;
        position: absolute;
        font-size: 1.5rem;
        right: 0;
        transform: scale(0);
        transition: all 0s;
    }
}