.menu-item{
    animation: 1.2s ease-in-out 2s both slide-in;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@for $i from 1 through 3 {
    
    .menu-part:nth-of-type(#{$i}) {
        @for $s from 2 through 4 {
            $delay:0.2;
            @if $i == 2 { 
                $delay:3;
            }
            @if $i == 3 { 
                $delay:6;
            }
            .menu-item:nth-of-type(#{$s}){
                animation-delay: #{$s + $delay}s;
                // border:1px solid red;
            }
        }
        }

}
