body {
    font-family: Roboto, sans-serif;
    position: relative;
    margin:0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 3840px) {
    
    body {
    margin: 0 auto;
    max-width: 500px;
}
}
