footer {
    background-color:$footer-background-darkgrey;
    color: $footer-text-color;
}

.footer-layout {
    padding: 1.5rem 1.5rem;
    max-width: 3840px;
    margin: auto;

    p {
        font-family: $titles-font, cursive;
        font-size: 1.2rem;
        margin: 0;
        padding: 1rem;
    }

    i{
        padding-right: 1rem;
    }
}